
//opensans - font-family: 'Open Sans', sans-serif;
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Open+Sans+Condensed:700");

$body: 'Open Sans', sans-serif;
$header: 'Open Sans', sans-serif;

h1 {
	text-align: center;
	color:$greyLight;
	font-weight: 100;
	font-size: 4em;
	letter-spacing: -1px;
	@extend %vertical-align;
}
