
//Overide Bootstrap input / form fields with some custom styling :)
textarea,
input[type="text"],
input[type="password"],
input[type="file"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {

    display: inline-block;
    padding: 0 .4em 0 .4em;
    margin-bottom: 2em;
    vertical-align: middle;
    border-radius: 3px;
    min-width: 50px;
    max-width: 100%;
    width: 100%;
    min-height: 32px;
    background-color: #fff;
    border: 1px solid $greyLight;
    margin: 0 0 24px 0;
    outline:none;
    font-weight:600;
    color:$grey;
    -webkit-appearance: none;
    @include transition(all 0.8s ease);

}


//focus - animated border fade
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="file"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {

    border-color:$orange;
    @include transition(all 0.8s ease);
}

textarea {
    padding:1em;
    min-height:150px;
}

hr {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #fff;
    width:100%;
}

label {
    color: $greyDark;
    font-weight: 600;
    display: block;
    max-width: 635px;
    padding-bottom: .8em;
    -webkit-user-select: none;
    font-size:1.15em;
}
